<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Sklep internetowy</title>
    <link th:href="@{/login.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css">

</head>
<body>
<div class='box'>
    <div class='box-form'>
        <div class='box-login-tab'></div>
        <div class='box-login-title'>
            <div class='i i-login'></div><h2>LOGIN</h2>
        </div>
        <div class='box-login'>
            <div class='fieldset-body' id='login_form'>
                <p th:if="${param.logout}"> Zostałeś wylogowany </p>
                <form class="login-form" method="post" th:action="@{/login}">
                    <p class='field'>
                        <label for='user'>USERNAME</label>
                        <input type='text' id='username' name='username' title='Username' />
                        <span id='valida' class='i i-warning'></span>
                    </p>
                    <p class='field'>
                        <label for='pass'>PASSWORD</label>
                        <input type='password' id='password' name='password' title='Password' />
                        <span id='valida' class='i i-close'></span>
                    </p>
                    <input  type='submit' id='do_login' value='LOGIN' title='Get Started' />
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>

